.container{
    max-width: 90rem;
    margin: auto;
    background-color: rgb(226, 131, 131);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.card{
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: -1px 6px 10px 0px rgba(0,0,0,0.75);
    padding: 1rem 0.5rem;
}